@page
@model IndexModel

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Home page";
}

@if (SignInManager.IsSignedIn(User))
{
    <p>Your Tasks</p>
    <input placeholder="Enter a new task"/>
    <button>Done</button>
    
    <input placeholder="Enter a new task"/>
    <button>Done</button>
    
}
